*{
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  color: #333333;
}

html{
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

img{
  display: block;
}

h2{
  margin: 0 0 10px 0;
  font-size: 28px;
  font-weight: 700;
}
p{
  margin: 14px 0 0 0;
  font-size: 16px;
  line-height: 23px;
}

hr{
  border: none;
  height: 1px;
  background-color: #333333;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 22px;
  background-color: #ed5244;
}
footer div{
  padding-top:13px;
  font-size: 12px;
  color: white;
}
footer img{
  display: inline;
  height: 41px;
  float: right;
}
#clearFooter{
  clear: both;
  padding-top: 110px; /* footer height + desired above whitespace (footer is 85px) */
}


#logo{
  position: relative;
  top: 0px;
  left: 0px;
  height: 24px;
}

.topnav {
  overflow: hidden;
  background-color: #ed5244;
}
.topnav a {
  float: left;
  color: #fff;
  display: block;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}
#logo_topnav_override { /* overrides ".topnav a" styles (above) for the logo */
  padding: 11px 16px;
  float: left;
}
.topnav a:hover {
  background-color: #ed6044;
}
.topnav .icon {
  display: none;
}

#leadImgText{
  position: relative;
  height: 100%;
}
#leadText{
  position: absolute;
  right: 0.4em;
  bottom: 4vw;
  margin-left: auto;
  text-align: right;
  font-size: 6vw;
  font-weight: 800;
}
#leadText>div{
  display: inline;
  background-color: white;
  padding: 0.08em 0;
  color: black;
}
#intro{                         /* orange background for homepage intro text */
  background-color: #ed5244;
}
#intro>div{                     /* intro typographic controls */
  font-weight: 100;
  font-size: 23px;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: white;
  padding: 1.2em 22px;
}

.twoCol{                   /* remove color */
    margin: auto;
    width: 900px;
}

.oneCol>div{
    box-sizing: border-box;
    margin: auto;
    width: 900px;
    padding: 22px;
}
.twoCol>div{
    box-sizing: border-box;
    margin: auto;
    width: 50%;
    float: left;
    padding: 22px;
}

/* basic page controls ---------------------------------------------------- */

div#basicPage{
  width: 800px;
}
#basicPage img{
  width: 100%;
}
h1{
  margin: 22px 0 0 0;
  font-size: 34px;
  line-height: 34px;
}
#basicPage p{
  margin: 18px 0 0 0;
  font-size: 17px;
  line-height: 25px;
}
.button{
  margin: 18px 0 0 0;
  display: inline-block;
  padding: 8px 10px;
  color: white;
  background-color: #ed5244;
}
.button:hover{
  background-color: #ed6044;
}
.button:link{
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */

.circleframe {
  float: left;
  position: relative;
  width: 105px;
  height: 105px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 18px;
}

.circleframe img {
  width: auto;
  height: 100%;
}

h3{
  margin: 6px 0 0 0;
}

h3+p{
  margin: 8px 0 0 0;
  line-height: 21px;
}

.twoCol a:link, .twoCol a:visited{
  text-decoration: none;
}
.twoCol a:hover, .twoCol a:active{
  text-decoration: underline;
}

#mapbox{height: 450px;}

/* FIXED MARGIN DESKTOP SIZE; BASIC PAGE*/
@media screen and (max-width: 880px) {
    div#basicPage{
        width: calc(100% - 50px);
    }
    #mapbox{height: 50vw;}
}

/* FIXED MARGIN DESKTOP SIZE */
@media screen and (max-width: 980px) {

    .oneCol>div, .twoCol{
        width: calc(100% - 50px);
    }
    .twoCol>div{
      width: 100%;
    }
    #intro>div{                     /* intro typographic controls */
      font-size: 19px;
      letter-spacing: 0.5px;
      line-height: 27px;
    }  

}

/* TABLET SIZE (HAMBURGER APPEARS) */
@media screen and (max-width: 650px) {

    .oneCol>div, .twoCol, div#basicPage{
      width: calc(100% - 40px);
    }

    /* header */
    .topnav a:not(:first-child) {
      display: none;
    }
    .dropdown, .top{ /* lines between mobile nav items */
      border-top: 2px solid #ed6044;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
      .topnav.responsive {
      position: relative;
      display: block;
    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive a.top {
      margin-top: 46px;
    }

    /* two column -> one */
    .twoCol>div{
        width: 100%;
    }

    /* LEAD TEXT RESIZING */
    #leadText{
      right: 0.4em; /* delete if same */
      bottom: 4vw;  /* delete if same */
      font-size: 8vw;
    }

    #intro>div{                     /* intro typographic controls */
      font-size: 17px;
      letter-spacing: 0.3px;
      line-height: 25px;
    }  

}


/* MOBILE SIZE */
@media screen and (max-width: 480px) {

    .oneCol>div, .twoCol, div#basicPage{
        width: 100%;
    }

    #intro>div{                     /* intro typographic controls */
      font-size: 16px;
      letter-spacing: 0.3px;
      line-height: 23px;
    }  

}
